@model HomeworkBuddy.Web.ViewModels.LoginViewModel

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form-account" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset>
        <div class="form-group col-sx-12 col-md-12">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtLoginEmail" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sx-12 col-md-12">
            @Html.LabelFor(m => m.Senha, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-sx-12 col-md-8">
            <input type="submit" value="Entrar" class="btn btn-custom btn-custom-black pull-right" />
            @*  <a href="@Url.Action("Cadastro", "Usuarios")" class="btn btn-custom btn-custom-gray pull-right">Cadastrar</a>*@
        </div>
    </fieldset>
}

