@using Microsoft.Ajax.Utilities


@model BpeCentral.Web.ViewModels.TrabalhoViewModel
@{
    ViewBag.Title = "Cadastrar Trabalho";
}

@Html.Partial("_Breadcrumb")

<div class="container">
    @Html.Partial("_MenuLateral")

    <div class="col-md-9 padding-vertical crud">
        <h2>
            Cadastrar Trabalho
            @Html.ActionLink("Listagem", "Index", "Trabalho", new { @class = "btn navbar-btn btn-custom btn-custom-black pull-right" })
        </h2>
        @using (Html.BeginForm("Cadastro", "Trabalho", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(m => m.Id_Trabalho)
            <fieldset>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Titulo, new { @class = "control-label", @for = "Nome" })
                        @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Titulo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Materia, new { @class = "control-label", @for = "Email" })
                        @Html.TextBoxFor(m => m.Materia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Materia, "", new { @class = "text-danger" })
                    </div>
                </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.DataParaEntrega, new { @class = "control-label", @for = "Senha" })
                            @Html.TextBoxFor(m => m.DataParaEntrega, new { @class = "form-control datepicker" })
                            @Html.ValidationMessageFor(m => m.DataParaEntrega, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.Entregue, new { @class = "control-label col-sm-2" })
                            @Html.DropDownListFor(m => m.Entregue, new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Entregue", Value = "True", Selected = true},
                                new SelectListItem {Text = "Pendente", Value = "False"}
                            }, new { @class = "form-control" })
                        </div>
                    </div>

                
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-custom btn-custom-black pull-right">Cadastrar</button>
                        <a href="@Url.Action("Index", "Trabalho")" class="btn btn-custom btn-custom-gray pull-right">Cancelar</a>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
}