@model List<HomeworkBuddy.Web.ViewModels.TrabalhoViewModel>
@{
    ViewBag.Title = "Trabalhos";
}
@Html.Partial("_Breadcrumb")

<div class="container">
    @Html.Partial("_MenuLateral")

    <div class="col-md-9 padding-vertical crud">
        <h2>
            Trabalhos
            @Html.ActionLink("Cadastrar novo", "Cadastro", "Trabalho", new { @class = "btn navbar-btn btn-custom btn-custom-black pull-right" })
        </h2>
        <table class="dataTable" width="100%">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Cadeira/Matéria</th>
                    <th>Data Para Entrega</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null) { 
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Materia)</td>
                            <td>@Html.DisplayFor(modelItem => item.DataParaEntrega)</td>
                            <td>
                                @if (item.Entregue)
                                {
                                    <a title="Marcar como pendente" href="@Url.Action("MudarStatus", "Trabalho", new {id = item.Id_Trabalho})"><span class="label label-success">Entregue</span></a>
                                }
                                else
                                {
                                    <a title="Marcar como entregue" href="@Url.Action("MudarStatus", "Trabalho", new {id = item.Id_Trabalho})"><span class="label label-danger">Pendente</span></a>
                                }
                            </td>
                            <td>
                                <a class="glyphicon-custom glyphicon glyphicon-pencil pull-right" href="@Url.Action("Cadastro", "Trabalho", new { id = item.Id_Trabalho })"></a>
                                <div class="dropdown pull-right" style="float: left;">
                                    <a class="glyphicon-custom glyphicon glyphicon-cog" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                        <li><a href="@Url.Action("Delete", "Trabalho", new { id = item.Id_Trabalho })">Remover</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
}