@model BpeCentral.Web.ViewModels.RecuperarSenhaViewModel
@{
    ViewBag.Title = "Atualizar Senha";
}

<div class="container">
    <div class="row padding-vertical">
        <div class="col-sx-6 col-md-6">
            <div class="col-sx-12 col-md-12">
                <h2>Atualizar Senha</h2>                
            </div>
            <div class="col-sx-8 col-md-8">
                @using (Html.BeginForm("AtualizarSenha", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <fieldset>
                        @Html.HiddenFor(m => m.ID)
                        @Html.HiddenFor(m => m.Guild)
                        <div class="form-group col-sx-12 col-md-12">
                            @Html.LabelFor(m => m.NovaSenha, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.NovaSenha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NovaSenha, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-sx-12 col-md-12">
                            @Html.LabelFor(m => m.ConfirmarSenha, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmarSenha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmarSenha, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" value="Enviar" class="btn btn-custom btn-custom-black" />
                    </fieldset>
                }
            </div>
        </div>
    </div>
    @Html.Partial("_Banner")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
}