@using Microsoft.Ajax.Utilities
@using BpeCentral.Dominio.Enum
@using BpeCentral.Dominio.DTO


@model BpeCentral.Web.ViewModels.UsuarioViewModel
@{
    ViewBag.Title = "Cadastrar usuário";
}

@Html.Partial("_Breadcrumb")

<div class="container">
    @Html.Partial("_MenuLateral")

    <div class="col-md-9 padding-vertical crud">
        <h2>
            Cadastrar usuário
            @Html.ActionLink("Listagem", "Index", "Usuarios", new { @class = "btn navbar-btn btn-custom btn-custom-black pull-right" })
        </h2>
        @using (Html.BeginForm("Cadastro", "Usuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.DataCadastro)
            <fieldset>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Nome, new { @class = "control-label", @for = "Nome" })
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label", @for = "Email" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                @if (Model != null && Model.ID == 0)
                {
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.Senha, new { @class = "control-label", @for = "Senha" })
                            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.RepitaSenha, new { @class = "control-label", @for = "Repita senha" })
                            @Html.PasswordFor(m => m.RepitaSenha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                        </div>
                    </div>

                }
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Perfil, new { @class = "control-label", @for = "Perfil" })
                        @*<div class="form-control" id="Perfil">
                                @Html.EnumDisplayNameFor((EPerfilUsuario)Model.Perfil)
                                @Html.HiddenFor(m => m.Perfil)
                            </div>*@
                        @Html.DropDownListFor(m => m.Perfil, new List<SelectListItem>
                        {
                            new SelectListItem {Text = "Administrador", Value ="" + (int)EPerfilUsuario.Administrador},
                            new SelectListItem {Text = "Usuario Empresa", Value = "" + (int)EPerfilUsuario.EmpresaDeTransporte}
                        }, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Ativo, new { @class = "control-label col-sm-2" })
                        @Html.DropDownListFor(m => m.Ativo, new List<SelectListItem>
                        {
                            new SelectListItem {Text = "Ativo", Value = "True", Selected = true},
                            new SelectListItem {Text = "Inativo", Value = "False"}
                        }, new { @class = "form-control" })
                    </div>
                </div>
                @if (ViewBag.EmpresasCodigos != null)
                {
                    <div class="form-group">
                        <div class="col-md-6">
                        @Html.LabelFor(m => m.CODIGO_EMPRESA, new { @class = "control-label col-sm-2" })
                        @Html.DropDownListFor(m => m.CODIGO_EMPRESA, new SelectList
                         (
                              ViewBag.EmpresasCodigos, "Codigo", "Nome"

                         ), new { @class = "form-control" })
                        </div>
                    </div>
                }
                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-custom btn-custom-black pull-right">Cadastrar</button>
                        <a href="@Url.Action("Index", "Usuarios")" class="btn btn-custom btn-custom-gray pull-right">Cancelar</a>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
}