@using AutoMapper
@using MyPOS.Dominio.Entidades
@using BpeCentral.Helpers
@using BpeCentral.Web.ViewModels
@{
    var result = SessionHelper.Recuperar<Usuario>("dataOn");
    UsuarioViewModel usuario = Mapper.Map<Usuario, UsuarioViewModel>(result);
}
<header class="header">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://incremente.com.br">
                    <img src="~/Content/Cliente/SantaCruz/logotipo.png" style="height: 3.7em; padding-top: 0.5em" />
                </a>
                <div style="position: absolute; left:40%; font-size: 2em; top: 0.8em">HomeworkBuddy</div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @if (usuario == null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        @Html.ActionLink("Faça seu login", "Index", "Login", null, new { @class = "btn navbar-btn btn-custom btn-custom-black" })
                    </ul>
                }
                else
                {
                    <div class="nav navbar-nav navbar-right account @(usuario.Perfil == 1 ? "admin" : "")">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <div>
                                    <p class="name">@(usuario.Nome)</p>
                                    <p style="color: darksalmon">Bem vindo</p>
                                </div>
                                <div>
                                    <span><b class="caret"></b></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Meu Painel", "Index", "Painel")</li>
                                <li>@Html.ActionLink("Sair", "Sair", "Login", "", new { area = "Admin" })</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </nav>
</header>